{% extends 'layouts/app.twig' %}

{% block content %}
    <main class="container mx-auto home px-4 lg:px-0">
        {% block categoriesCta %}
            <section class="categories-cta py-16">
                <h2 class="cta-title mb-8">Handgemaakte producten</h2>

                <figure class="category-cta">
                    <picture>
                        {% set _sleeveImage = Image('https://bookishgoods.nl/app/uploads/2020/05/Booksleeve-frontpage-pic.jpg') %}
                        <source srcset="{{ _sleeveImage.src|retina(2)|towebp }} 2x" type="image/webp">
                        <source srcset="{{ _sleeveImage.src|resize(620, 515)|towebp }}" type="image/webp">
                        <img src="{{ _sleeveImage.src|resize(620, 515) }}" alt="{{ __('Bekijk alle %s', 'bookish')|format('booksleeves') }}" loading="lazy">
                    </picture>
                    <figcaption>
                        Bekijk alle booksleeves
                    </figcaption>
                    <a href="{{ product_cat_url_on_name('booksleeves') }}" title="Bekijk alle booksleeves" name="Bekijk alle booksleeves"></a>
                </figure>
                <figure class="category-cta">
                    <picture>
                        {% set _ribbonImage = Image('https://bookishgoods.nl/app/uploads/2020/05/Boekenlegger-frontpage-pic.jpg') %}
                        <source srcset="{{ _ribbonImage.src|retina(2)|towebp }} 2x" type="image/webp">
                        <source srcset="{{ _ribbonImage.src|resize(620, 515)|towebp }}" type="image/webp">
                        <img src="{{ _ribbonImage.src|resize(620, 515) }}" alt="{{ __('Bekijk alle %s', 'bookish')|format('bookmarks') }}" loading="lazy">
                    </picture>
                    <figcaption>
                        Bekijk alle boekenleggers
                    </figcaption>
                    <a href="{{ product_cat_url_on_name('boekenleggers') }}" title="Bekijk alle boekenleggers" name="Bekijk alle boekenleggers"></a>
                </figure>
            </section>
        {% endblock %}

        {% block newProducts %}
            <section class="new-products py-16">
                <h2 class="text-center mb-8">Nieuwe producten</h2>

                <div class="products-list mb-8">
                    {% for product in new_products %}
                        {{ include([
                            'partials/tease/product/' ~ product.slug ~ '.html.twig',
                            'partials/tease/product.html.twig'
                        ], { product: product },ignore_missing = true, with_context = false) }}
                    {% endfor %}
                </div>

                <div class="flex">
                    <a href="{{ get_store_url() }}" class="mx-auto button primary">Alles bekijken</a>
                </div>
            </section>
        {% endblock %}

        {% block popularProducts %}
            <section class="popular-products py-12">
                <h2 class="text-center mb-8">Populaire producten</h2>

                <div class="products-list mb-8">
                    {% for product in popular_products %}
                        {{ include([
                            'partials/tease/product/' ~ product.slug ~ '.html.twig',
                            'partials/tease/product.html.twig'
                        ], { product: product },ignore_missing = true, with_context = false) }}
                    {% endfor %}
                </div>

                <div class="flex">
                    <a href="{{ get_store_url() }}" class="mx-auto button primary">Alles bekijken</a>
                </div>
            </section>
        {% endblock %}
    </main>
{% endblock %}
