{% extends 'layouts/app.twig' %}

{% block content %}
    <main class="home">
        {% block heroBanner %}
            {% if get_field('show_hero_banner') %}
                {{ include('partials/pages/front-page/hero-banner.html.twig') }}
            {% endif %}
        {% endblock heroBanner %}

        {% block newProducts %}
            <section class="new-products py-16">
                <div class="container mx-auto">
                    <h2 class="text-center mb-8">{{ __('Nieuwe producten', 'bookish') }}</h2>

                    <div class="products-list mb-8">
                        {% for product in new_products %}
                            {{ include([
                                'partials/tease/product/' ~ product.slug ~ '.html.twig',
                                'partials/tease/product.html.twig'
                            ], { product: product },ignore_missing = true, with_context = false) }}
                        {% endfor %}
                    </div>

                    <div class="flex">
                        <a href="{{ get_store_url() }}/?orderby=date"
                           id="new-products-store-link"
                           class="mx-auto button primary">{{ __('Alles bekijken', 'bookish') }}</a>
                    </div>
                </div>
            </section>
        {% endblock %}

        {% block popularProducts %}
            <section class="popular-products py-12 px-4 lg:px-0">
                <div class="container mx-auto">
                    <h2 class="text-center mb-8">{{ __('Populaire producten', 'bookish') }}</h2>

                    <div class="products-list mb-8">
                        {% for product in popular_products %}
                            {{ include([
                                'partials/tease/product/' ~ product.slug ~ '.html.twig',
                                'partials/tease/product.html.twig'
                            ], { product: product },ignore_missing = true, with_context = false) }}
                        {% endfor %}
                    </div>

                    <div class="flex">
                        <a href="{{ get_store_url() }}/?orderby=popularity"
                           id="popular-products-store-link"
                           class="mx-auto button primary">{{ __('Alles bekijken', 'bookish') }}</a>
                    </div>
                </div>
            </section>
        {% endblock %}

        {% block homeEnd %}{% endblock %}
    </main>
{% endblock %}
