{% extends 'layouts/app.twig' %}

{% block content %}
    <main class="container mx-auto home px-4 lg:px-0">
        {% block categoriesCta %}
            <section class="categories-cta py-16">
                <h2 class="cta-title mb-8">Handgemaakte producten</h2>

                <figure class="category-cta">
                    <img src="//via.placeholder.com/500x400" alt="{{ __('Check out our %s', 'bookish')|format('booksleeves') }}">
                    <figcaption>
                        Bekijk alle booksleeves
                    </figcaption>
                    <a href="{{ product_cat_url_on_name('booksleeves') }}"></a>
                </figure>
                <figure class="category-cta">
                    <img src="//via.placeholder.com/500x400" alt="{{ __('Check out our %s', 'bookish')|format('booksleeves') }}">
                    <figcaption>
                        Bekijk alle boekenleggers
                    </figcaption>
                    <a href="{{ product_cat_url_on_name('boekenleggers') }}"></a>
                </figure>
            </section>
        {% endblock %}

        {% block newProducts %}
            <section class="new-products py-16">
                <h2 class="text-center mb-8">Nieuwe producten</h2>

                <div class="products-list mb-8">
                    {% for product in new_products %}
                        {{ include([
                            'partials/tease/product/' ~ product.slug ~ '.html.twig',
                            'partials/tease/product.html.twig'
                        ], { product: product },ignore_missing = true, with_context = false) }}
                    {% endfor %}
                </div>

                <div class="flex">
                    <a href="{{ get_store_url() }}" class="mx-auto button primary">Alles bekijken</a>
                </div>
            </section>
        {% endblock %}

        {% block popularProducts %}
            <section class="popular-products py-12">
                <h2 class="text-center mb-8">Populaire producten</h2>

                <div class="products-list mb-8">
                    {% for product in popular_products %}
                        {{ include([
                            'partials/tease/product/' ~ product.slug ~ '.html.twig',
                            'partials/tease/product.html.twig'
                        ], { product: product },ignore_missing = true, with_context = false) }}
                    {% endfor %}
                </div>

                <div class="flex">
                    <a href="{{ get_store_url() }}" class="mx-auto button primary">Alles bekijken</a>
                </div>
            </section>
        {% endblock %}
    </main>
{% endblock %}
