{% extends 'layouts/app.twig' %}

   {% block page_canonical_url %}
       <meta name="canonical" content="{{ product.get_link }}">
   {% endblock %}

{% block post_head_scripts %}
    <script>
		var _paq = window._paq || [];
		_paq.push([
			'setEcommerceView',
            'product-{{ product.get_id }}',
            '{{ product.get_title }}',
            ['{{ product.get_category_name_array|join('\', \' ') }}'],
            {{ product.get_regular_price }}
        ])
    </script>
{% endblock %}

{% block window_definitions %}
    {{ parent() }}

    <script>
        window['product_id'] = {{ product.get_id }}
        window['product_settings'] = {
        	"qty": {
        		'min': '{{ product.product.get_min_purchase_quantity }}',
                'max': '{{ product.product.get_max_purchase_quantity > 0 ? product.product.get_max_purchase_quantity : 3 }}',            }
        }
    </script>

{% endblock %}
{% block navbar %}
    {{ parent() }}

    <div class="container mx-auto pt-4">
        <nav aria-label="breadcrumb" class="product-breadcrumbs">
            <a href="{{ site.link }}">Home</a>
            {{ product.get_product_categories_links('') }}
            <a href="{{ product.get_link }}" aria-current="page">{{ product.get_title }}</a>
        </nav>
    </div>
{% endblock %}

{% block content %}
    <main class="container mx-auto">
        {% do action('woocommerce_before_single_product') %}
        <header class="px-4 lg:px-0">
            <h1 is="bookish-heading">{{ product.get_title }}</h1>
        </header>

        <section class="main-content py-4">
            <div>
                {% block productGallery %}
                <bookish-gallery selected="thumbnail">
                    <bookish-gallery-item name="thumbnail"
                                          src="{{ product.thumbnail.src|resize(900,900) }}"
                                          modern_src="{{ product.thumbnail|resize(900, 900)|towebp }}"
                                          alt="{{ product.get_title }}"></bookish-gallery-item>
                    {% for item in product.gallery_items %}
                        {% set gallery_item = Image(item) %}
                        {{ gallery_item.slug }}
                        <bookish-gallery-item name="gallery-{{ loop.index }}"
                                              src="{{ gallery_item.src|resize(900,900) }}"
                                              modern_src="{{ gallery_item.src|resize(900, 900)|towebp }}"
                                              alt="{{ gallery_item.alt }}"></bookish-gallery-item>
                    {% endfor %}
                </bookish-gallery>
                <noscript>
                    <img src="{{ product.thumbnail.src|resize(900,900) }}" alt="{{ product.get_title }}" />
                </noscript>
                {% endblock %}
            </div>

            <aside class="product-sidebar">
                <h2 class="product-price">
                    {% block productPrice %}
                    {% if product.is_on_sale %}
                        <small style="text-decoration: line-through">{{ product.get_regular_price }}</small>
                    {% endif %}
                    {{ product.get_price }}
                    {% endblock %}
                </h2>

                <span id="add-{{ product.get_type }}-product-to-cart"></span>
                <noscript>
                    <form
                            class="js-add-to-cart"
                            action="{{ product.product.get_permalink|apply_filters('woocommerce_add_to_cart_form_action') }}"
                            method="post"
                            enctype="multipart/form-data">

                        {% do action('woocommerce_before_add_to_cart_quantity') %}
                        <input type="number"
                               name="quantity"
                               value="1"
                               class="w-64"
                               min="{{ product.product.get_min_purchase_quantity }}"
                               max="{{ product.product.get_max_purchase_quantity > 0 ? product.product.get_max_purchase_quantity : '' }}" />

                        {% do action('woocommerce_after_add_to_cart_quantity') %}

                        {% block productAddToCart %}
                            {% do action('woocommerce_before_add_to_cart_button') %}
                            <button type="submit" name="add-to-cart" value="{{ product.id }}" class="product-add-to-cart">
                                <i class="fad fa-plus-hexagon"></i>
                                <span>Toevoegen aan winkelmand</span>
                            </button>
                            {% do action('woocommerce_after_add_to_cart_button') %}
                        {% endblock %}

                    </form>
                </noscript>

                {% block productStock %}
                    {% if product.is_pre_order() %}
                        <p class="text-primary">
                            <i class="fad fa-box-check mr-2"></i><span>Pre-Order, {{ product.get_field('shipment_estimate', 'verzending begin december.') }}</span>
                        </p>
                    {% elseif product.is_in_stock %}
                        <p class="text-primary">
                            <i class="fad fa-box-check mr-2"></i><span>Op voorraad! Binnen 2-4 dagen verzonden.</span>
                        </p>
                    {% elseif product.can_backorder %}
                        <p>
                            <i class="fad fa-exclamation-circle mr-2"></i><span>Tijdelijk niet op voorraad.</span>
                        </p>
                    {% else %}
                        <p class="text-red">
                            <i class="fad fa-exclamation-circle mr-2"></i><span>Niet op voorraad</span>
                        </p>
                    {% endif %}
                {% endblock %}

                {% block productUSP %}
                    <p>
                        <i class="fas fa-comment-check mr-2 text-green"></i>
                        <span>
                            <strong class="text-green">Gratis</strong> verzending vanaf &euro; 35,- in NL<br>
                            BE vanaf &euro; 50,-
                        </span>
                    </p>
                {% endblock %}
            </aside>
        </section>

        <section class="py-4">
            {% if is_admin() %}
                <bookish-tabs default="Omschrijving">
                    <bookish-tab name="Omschrijving">
                        <div class="product-description content">
                            {{ product.content|wpautop|apply_filters('bookish/content/product/content') }}

                            <p>
                                <em>
                                    Alle producten worden handgemaakt,
                                    de print en het formaat kunnen dus iets afwijken van de foto's.
                                </em>
                            </p>
                        </div>
                    </bookish-tab>
                    <bookish-tab name="Eigenschappen">
                        <table class="attribute-table">
                            {% for attribute in product.get_attributes %}
                                <tr>
                                    <th>
                                        {{ attribute.name|capitalize }}
                                    </th>
                                    <td>
                                        {% for option in attribute.options %}
                                            {{ option.name }}{% if not loop.last %}, {% endif %}
                                        {% endfor %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </bookish-tab>
                </bookish-tabs>
            {% else %}
            <tab-group>
                <tab-item name="Omschrijving" active>
                    <div class="product-description content">
                        {{ product.content|wpautop }}

                        <p>
                            <em>
                                Alle producten worden handgemaakt,
                                de print en het formaat kunnen dus iets afwijken van de foto's.
                            </em>
                        </p>
                    </div>
                </tab-item>
                <tab-item name="Eigenschappen">
                    <table class="attribute-table">
                        {% for attribute in product.get_attributes %}
                            <tr>
                                <th>
                                    {{ attribute.name|capitalize }}
                                </th>
                                <td>
                                    {% for option in attribute.options %}
                                        {{ option.name }}{% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </tab-item>
            </tab-group>
            {% endif %}
        </section>

        <section class="related-products py-4">
            <h2 class="pb-4 px-4 lg:px-0">Gerelateerde producten</h2>

            <div class="products-list">
                {% for related in product.related_products %}
                    {{ include([
                        'partials/tease/product/' ~ related.slug ~ '.html.twig',
                        'partials/tease/product.html.twig'
                    ], { product: related }, with_context = false) }}
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}

{% block footer %}
    {{ parent() }}
    <script type="application/ld+json">
        {
            "@context": "https://schema.org/",
            "@type": "Product",
            "name": "{{ product.get_name }}",
            "image": [
            "{{ product.thumbnail.src|resize(900,900) }}"{% if product.gallery_items|length > 0 %},{% endif %}
            {% for item in product.gallery_items %}
                {% set gallery_item = Image(item) %}
                "{{ gallery_item.src|resize(900,900) }}"{% if not loop.last %},{% endif %}
            {% endfor %}
            ],
            "description": "{{ product.get_description|striptags }}",
            "offers": {
                "@type": "Offer",
                "url": "{{ product.link }}",
                "priceCurrency": "EUR",
                "price": "{{ product.product.get_price }}",
                "priceValidUntil": "{{ "now"|date('Y-m-d') }}",
                "itemCondition": "https://schema.org/new",
                "availability": "https://schema.org/InStock"
            }
        }
    </script>
{% endblock %}
