{% extends 'layouts/app.twig' %}

{% block navbar %}
    {{ parent() }}

    <div class="container mx-auto">
        <nav aria-label="breadcrumb" class="product-breadcrumbs">
            <a href="{{ site.link }}">Home</a>
            {{ product.get_product_categories_links('') }}
            <a href="{{ product.get_link }}" aria-current="page">{{ product.get_title }}</a>
        </nav>
    </div>
{% endblock %}

{% block content %}
    <main class="container mx-auto">
        <h1>{{ product.get_title }}</h1>

        <section class="main-content">
            <div>
                <gallery-group>
                    <gallery-item name="thumnail" src="{{ product.thumbnail.src }}" alt="{{ product.get_title }}" active></gallery-item>
                    {% for item in product.gallery_items %}
                        {% set gallery_item = Image(item) %}
                        {{ gallery_item.slug }}
                        <gallery-item name="gallery-{{ loop.index }}" src="{{ gallery_item.src }}" aly="{{ gallery_item.alt }}"></gallery-item>
                    {% endfor %}
                </gallery-group>
            </div>
            {% for item in product.gallery_items %}
                {% set gallery_item = Image(item) %}
                {{ gallery_item.slug }}
                <gallery-item name="{{ gallery_item.slug }}" src="{{ gallery_item.src }}" aly="{{ gallery_item.alt }}"></gallery-item>
            {% endfor %}

            <aside class="product-sidebar">
                <h2 class="product-price">&euro; {{ product.get_price }}</h2>

                <a href="{{ product.product.add_to_cart_url }}" class="product-add-to-cart">
                    <i class="fad fa-plus-hexagon"></i>
                    <span>Toevoegen aan winkelmand</span>
                </a>

                {% if product.is_in_stock %}
                    <p class="text-primary">
                        <i class="fad fa-box-check mr-2"></i>
                        <span>Op voorraad! Binnen 2-4 dagen verzonden.</span>
                    </p>
                {% elseif product.can_backorder %}
                    <p>
                        <i class="fad fa-exclamation-circle mr-2"></i>
                        <span>Tijdelijk niet op voorraad.</span>
                    </p>
                {% else %}
                    <p class="text-red">
                        <i class="fad fa-exclamation-circle mr-2"></i>
                        <span>Niet op voorraad</span>
                    </p>
                {% endif %}
            </aside>
        </section>

        <section>
            <tab-group>
                <tab-item name="Omschrijving" active>
                    {{ product.content|wpautop }}
                </tab-item>
                <tab-item name="Eigenschappen">
                    <table>
                        {% for attribute in product.get_attributes %}
                            <tr>
                                <th>
                                    {{ attribute.name|upper }}
                                </th>
                                <td>
                                    {% for option in attribute.options %}
                                        {{ option.name }}{% if not loop.last %}, {% endif %}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </tab-item>
            </tab-group>
        </section>

        <section class="related-products">
            <h2>Gerelateerde producten</h2>

            <div class="products-list">
                {% for related in product.related_products %}
                    {{ include([
                        'partials/tease/product/' ~ related.slug ~ '.html.twig',
                        'partials/tease/product.html.twig'
                    ], { product: related }, with_context = false) }}
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}

{% block footer %}
    {{ parent() }}
{% endblock %}
